@font-face {
    font-family: 'RazerF5';
    src: url('../fonts/RazerF5.woff') format('woff'),
}

@font-face {
    font-family: 'RazerF5Bold';
    src: url('../fonts/RazerF5Bold.woff') format('woff'),
}

@font-face {
    font-family: 'RazerF5Light';
    src: url('../fonts/RazerF5Light.woff') format('woff'),
}

@font-face {
    font-family: 'RazerF5Thin';
    src: url('../fonts/RazerF5Thin.woff') format('woff'),
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.woff2') format('woff2'),
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
}

#menu {
    width: 48px;
    height: 48px;
}

#logo {
    width: 38px;
}

.navigation {
    background-color: #040404;
}

.navigation div {
    width: 75%;
}

.navigation a {
    color: rgb(153, 153, 153);
    font-family: RazerF5Light, sans-serif;
    font-weight: 300;
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s;
}

.navigation a:hover {
    color: #f6f6f6;
}

.nav-icon {
    font-size: 20px;
}

.top-ul {
    height: 40px;
}

/*box1 ******************************************************** */
.box1 {
    background-color: rgb(26, 26, 26);
    padding: 0 10px 0 10px;
    border-bottom: 1px solid rgb(68, 214, 44);
}

.box1 ul {
    height: 120px;
    background-color: #1a1a1a;
}

.box1 li {
    margin-right: 38px;
}

.box1 a {
    height: 66px;
    color: #f6f6f6;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s;
}

.box1 a:hover {
    color: #44d626;
}

#n1 {
    color: #dca01c;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.custom-w1 {
    width: 78px;
}

.custom-w2 {
    width: 77px;
}

.custom-w3 {
    width: 73px;
}

.custom-w4 {
    width: 49px;
}

/*box2 *********************************** */
.box2 {
    background-color: rgb(85, 85, 85);
    color: rgb(238, 238, 238);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding: 11.5px 24px 11.5px 30px;
}

.box2 a {
    color: rgb(238, 238, 238);
    text-decoration: none;
}

.box2 a:hover {
    text-decoration: underline;
}

/*box3 ***************************** */
.box3 {
    background-color: rgb(17, 17, 17);
}

.box3 div {
    max-width: 980px;
}

.box3 h1 {
    color: rgb(68, 214, 44);
    font-family: RazerF5Thin, sans-serif;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 36px;
    padding-bottom: 5px;
}

.box3 p {
    color: rgb(153, 153, 153);
    font-family: Roboto-Light, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}

/*box4-6-8 ***************************************** */
.content-box {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    border-bottom: 0.8px solid rgb(68, 214, 44);
}

.content-box div {
    max-width: 1200px;
}

.content-box h2 {
    font-family: RazerF5Light;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
    padding-top: 65px;
    margin-bottom: 19.2px;
}

.content-box p {
    max-width: 980px;
    color: rgb(153, 153, 153);
    font-family: Roboto-Light;
    font-size: 18px;
    font-weight: 300;
    padding: 7px 0 20px 0;
}

.content-box a {
    color: rgb(68, 214, 44);
    text-decoration: none;
    font-family: Roboto-Light;
    font-weight: 300;
    line-height: 27.4px;
}

.content-box a:hover {
    text-decoration: underline;
}

/* box5-7 ********************************************* */
.box-main {
    min-height: 602.733px;
    background-color: rgb(37, 37, 37);
    padding: 25px 0 25px 0;
}

.box-sub {
    max-width: 1200px;
}

.item-box {
    background-color: rgb(17, 17, 17);
    border-bottom: 0.8px solid rgb(68, 214, 44);
}

.span-box {
    font-family: Roboto-Light;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;
    padding: 10px 10px 0px 10px;
}

.p-box {
    color: rgb(153, 153, 153);
    font-family: Roboto-Light;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 10px 10px 0px 10px;
}

.link-box {
    color: rgb(68, 214, 44);
    font-family: Roboto-Light;
    font-size: 14px;
    font-weight: 300;
    line-height: 27px;
    padding: 10px;
}

.link-box:hover {
    color: rgb(68, 214, 44);
}

/* box10 ******************************* */
.box10{
    background-color: rgb(17, 17, 17);
}
.box10-main {
    max-width: 1200px;
    background-color: rgb(17, 17, 17);
    padding: 0 18px 25px 18px;
}

.accordion-item {
    border-bottom: 0.8px solid rgb(59, 59, 59);
}

.accordion-button {
    background-color: rgb(17, 17, 17) !important;
    padding: 17.6px 0 17.6px 0;
}

.footer-span{
    background-color: rgb(17, 17, 17) !important;
    font-family: Roboto;
    font-size: 12px;
    line-height: 18px;
}

.accordion-body {
    background-color: rgb(17, 17, 17);
    padding: 0 0 17.6px 0;
}

.mh-1 {
    line-height: 15.2px;
}

.mh-2 {
    color: rgb(153, 153, 153);
    font-family: Roboto;
    font-size: 12px;
    text-decoration: none;
}

.mh-2:hover {
    color: #fff;
    text-decoration: underline;
}
.footer-main span{
    padding-bottom: 12px;
}
.footer-main li{
    padding-bottom: 12px;
}
.sp-1{
    color: rgb(68, 214, 44);
    font-family: RazerF5;
    font-size: 14.4px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.sp-1:hover{
    color: rgb(68, 214, 44);
}
.box10-sub1{
    border-top: 0.8px solid #2a2a2a;
}
/* esm */
@media all and (max-width:576px) {
    .box4 {
        min-height: 480px;
    }

    .box6 {
        min-height: 500px;
    }

    .content-box h2 {
        padding-top: 40px;
    }
}

/* sm */
@media all and (min-width:576px) and (max-width:768px) {
    .content-box {
        min-height: 530px;
    }
}

/* esm sm */
@media all and (max-width:768px) {

    .navigation {
        border-bottom: 2px solid #44d62c;
    }

    .box3 div {
        padding: 0 18px 0 18px;
    }

    .box4 {
        background-image: url("../images/razer-edge-450x480-mobile-cat-banner.jpg");
    }

    .box6 {
        background-image: url("../images/stay-in-sync450x480.jpg");
    }

    .box8 {
        min-height: 530px;
        background-image: url("../images/gotheextramile-category-450x480-mobile.jpg");
    }

    .box10-sub1 {
        padding: 12.8px 0 20px 0;
    }

    .as-1 {
        padding: 10px 0 10px 0;
    }
}

/* md lg xl xxl */
@media all and (min-width:768px) {
    .navigation {
        height: 60px;
        box-shadow: 0 1px 4px 1px #44d62c;
        position: fixed;
    }

    .box1 {
        margin-top: 60px;
    }

    .content-box {
        min-height: 700px;
    }

    .box4 {
        background-image: url("../images/razer-edge-1920x700-desktop-cat-banner.jpg");
    }

    .box6 {
        background-image: url("../images/stay-in-sync-1920x700.jpg");
    }

    .box8 {
        background-image: url("../images/gothe-extramile-category-1920x700-desktop.jpg");
    }

}
